.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.box {
  background-color: #eee;
  border-radius: 20px;
  width: 20%;
  height: 20%;
}

.textMesa {
  text-align: center;
  background-color: rgb(66, 247, 66);
  border-top-right-radius: 20px;
}

.desc {
  height: -45px;

}

.but {
  justify-items: flex-end;
}



.container {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 15px;

}


.itemVerificado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hora {
  display: flex;
  justify-content: end;
}

.voltar {
  width: 20px;
  height: 20px;
}